* {
  box-sizing: border-box; */
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  color: brown;
  margin-bottom: 0;
}

body {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.grid {
  margin: 50px 0 0 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 650px;
  width: 750px;
  position: relative;
  background-color: black;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid div {
  text-align: center;
  justify-content: center;
  flex-grow: 0.5;
  height: 13.5%;
  width: 15%;
  color: red;
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  outline: 5px solid black;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.red {
}

.yellow {
}
